.btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--clr-neutral-300);
    outline: none;
    border: none;
    &:disabled {
        border: red 1px solid;
    }
}

section {
    width: 450px;
    margin : 0 auto;
    @media (max-width : 380px) {
        max-width : 90vw;
        margin: 0 auto;
    }
}

input[type='text'] {
    width: calc(100% - 60px);
    height: 40px;
    border-width: 0 0 2px 0;
    outline: none;
    color: var(--clr-neutral-600);
    font-size: var(--fs-lg);
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: var(--clr-neutral-600);
        font-size: var(--fs-lg);
    }
}

form {
    margin-top: clamp(10px, 5vw, 20px);
    .form-control {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.item-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--clr-neutral-600);
    border-radius: 5px;
    padding : 10px;
    margin-top: 20px;
    div {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    .checked {
        text-decoration: line-through;
    }
}

.remaining-todos {
    color : var(--clr-neutral-300) !important;
    font-size: var(--fs-lg) !important;
}